@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
main{
    background-color: rgb(36, 36, 36);
    align-items: center;
    height: 100dvh;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(rgba(0, 0, 0) 95%, transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease;
    position: relative;
    overflow-y: hidden;
    animation: main1 0.9s ease forwards;
    animation-timeline: scroll();
}
#enlacesAcceso{
   text-decoration-style: none;
}
.img-main{
    position: absolute;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    transition:  transform 0.9s ease;
    transform-origin: center;
    animation: main 1s ease;
    animation-timeline: view();
    animation-delay: 0.9s;
}

@keyframes main{
    from{
        opacity: 1;
        scale: 1;
    }
    to{
        opacity: 0.7;
        scale: 2;
    }
}

.logo{
    height: 70px;
    background-color: rgb(255, 255, 255);
    clip-path: circle(40%);
    transition: ease 0.9s;
    margin-top: 2px;
    margin-bottom: 2px;
}
.logo:hover{
    transform: scale(1.1);
}
.navegador{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.411);
    width: auto;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 2%;
    z-index: 999;
    padding-right: 2rem;
}
.nav-content.hidden{
    opacity: 0;
}
.btn-nav{
    display: none;
}
.nav-list{
    padding-top: 0.7rem;
    display: flex;
    list-style: none;
    align-items: center;
}
.nav-list button{
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
}
.nav-list li a{
    text-decoration: none;
    color: aliceblue;
    position: relative;
    padding-bottom: 3px;
    font-size: small;
}
.nav-list li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: aliceblue;
    transition: 0.9s ease;
    height: 2px;
}
.nav-list li a:hover::after{
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 1;
    width: auto;
    gap: 1rem;
    color: aliceblue;
}
.portada-title h1{
    animation: slide-left 2s ease forwards;
    font-weight: 700;
}
.portada-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.portada-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.portada-text p{
    font-size: clamp(1rem, 1vw, 3rem);
}
.btn1{
    background-color: yellow;
    height: 3rem;
    width: 9rem;
    border-radius: 40px;
    border: none;
    transition: ease 0.9s;
    font-weight: 600;
}
.btn1 a{
    text-decoration: none;
    color: black;
}
.btn1:hover{
    transform: scale(1.1);
}.scroll-container{
    overflow: hidden;
}
.caja2{
    min-width: 250px;
    animation: 20s scroll infinite ease;
    align-items: center;
}
.caja2 img{
    object-fit: cover;
    height: 60px;
    align-items: center;
}
.inicio-bolitas{
    background: transparent;
    height: 1px;
    width: 80%;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: -2;
}
.bolita{
    opacity: 0;
    height: 1px;
    width: 1px;
    border-radius: 20px;
    background-color: rgb(165, 198, 34);
    box-shadow: 0 0 0 1px rgb(147, 170, 18);
    animation: up ease forwards;
    animation-iteration-count: infinite;
    z-index: -2;
}
article{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    animation: slide-left 1s ease forwards;
    
}
.titulo{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;
    font-weight: 600;
    font-size: 60px;
    padding-left: 30px;
    animation: slide-left 5s ease forwards;
    animation-timeline: view();
    animation-range: 0% 80%;
    position: relative;
    font-size: clamp(2rem, 3vw, 3rem);
}
.text-center{
     animation: slide-left 5s ease forwards;
    animation-timeline: view();
    animation-range: 0% 80%;
}
.titulo::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0px;
    background-color: rgb(3, 3, 3);
    animation: barra 0.9 ease forwards;
    animation-delay: 2s;
    animation-timeline: view();
}
article h4{
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: 400;
}
article h5{
    font-size: clamp(0.7rem, 1.1vw, 3rem);
}
.pc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 37%;
}
.programa-content{
    justify-content: center;
    text-align: center;
    flex: 1;
    width: auto;
}
.caja{
    border-radius: 10px;
    opacity: 0;
    animation: slide-left 4s ease forwards;
    animation-timeline: scroll();
    animation-range: 5% 10%;
}
.descargarIcono{
    color: var(--primary-color) !important;
}

.caja1{
    text-align: left;
    position: relative;
}
.caja3{
    text-align: left;
    position: relative;
}
.caja4{
    text-align: right;
    position: relative;
}
.caja5{
    text-align: left;
    position: relative;
}
.linea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 25%;
}
.punto::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    scale: 2;
    background-color: rgb(0, 0, 0);
    height: 5px;
    width: 5px;
    border-radius: 100%;
    z-index: 10;
}
.linea::after{
    content: "";
    position: absolute;
    top: -0.5%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    height: 0;
    width: 5px;
    border-radius: 5px;
    animation: linea1 1s ease forwards;
    animation-timeline: view();
    animation-range: 10% 55%;
}
.s-caja{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.s-vota-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover;
    background-position: right ;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid;
    border-color: rgba(185, 185, 185, 0.671);
    box-shadow: 0 0 20px rgb(145, 145, 145);
    animation: slide-left 2s ease forwards;
    animation-timeline: view();
    animation-range: 0% 20%;

}
.blur{
    backdrop-filter: blur(20px);
    border-radius: 20px;
    background-color: rgba(173, 175, 68, 0.13);
    
    
}
.s-vota-content button{
    width: 15rem;
    height: 4rem;
    border: 1px solid;
    border-color: rgba(80, 80, 80, 0.342);
    
}
.s-vota-content button a{
    color: rgb(0, 0, 0);
}
.s-vota-content h1{
    justify-content: center;
    text-align: center;
  
}
.caja-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: slide-left 1s ease forwards;
    opacity: 0;
    
}
.caja-text p{
    padding-top: 0.5rem;
    opacity: 0;
    color: rgb(0, 0, 0);
    animation: slide-left 2s ease forwards;
    animation-timeline: view();
    animation-range: 0% 15%;
    font-size: clamp(1rem, 1.2vw, 3rem);
    font-weight: 400;
    line-height: rem;
}
.img-vot{
    opacity: 0;
    background-image: url(./IMAGENES/logo-NCA-cas-1024x671.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;

    animation: slide-left 5s ease forwards;
    animation-timeline: view();
    animation-range: 20% 50%;
}
#enlacesAcceso{
    text-decoration: none;
    color:  var(--primary-color);
}
.titulo2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: transparent;
}
.titulo2 h1{
    opacity: 0;
    color: rgb(0, 0, 0);
    animation: slide-down 0.9s ease forwards;
    animation-timeline: view();
    animation-range: 30% 100%;
}
.caja22{
    background-image: url(./IMAGENES/lineabg.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.titulo2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 0;
    height: 2px;
    width: 0;
    background-color: rgb(0, 0, 0);
    animation: barra2 0.9 ease forwards;
    animation-delay: 2s;
    animation-timeline: view();
    animation-range: 30% 80%;
}
.video-contenedor{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    opacity: 0;
    animation: slide-left 0.9s ease forwards;
    animation-timeline: view();
    animation-range: 0% 40%;
}
.v2{
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 50%;
    height: 50vh;
    position: relative;
}
.v2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(43, 47, 94);
}
.v2.oculto::after{
    display: none;
}
.play{
    position: absolute;
    bottom: 50%;
    left: 50%;
    scale: 4;
    z-index: 3;
    color: yellow;
    transition: 0.9s ease;
}
.play.oculto{
    display: none;
}


.patrocinadores-extra {
    display: none !important;
}

.patrocinadores-extra.show {
    display: block !important;
}
.play:hover{
    scale: 4.5;
}
.video-contenedor{
    background-color: rgba(224, 167, 167, 0);
    border-radius: 20px;

}
.video-contenedor h2{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    align-items: center;
    align-self: center;
}
.video{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 40px rgba(122, 122, 122, 0.732);
    border-radius: 20px;
    height: 100vh;
}
footer{
    color: rgb(0, 0, 0);
    background-color: rgb(207, 207, 207);
}
.footer-caja1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-caja{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-caja h6 a{
    text-decoration: none;
    color: black;
}
.footer-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
}
.s-pat{
    height: 100%
}
.patrocinadores{
    display: flex;
    flex-direction: row;
    opacity: 0;
    justify-content: center;
    animation: slide-left 0.9s ease alternate forwards;
    animation-timeline: view();
    animation-range: 0% 40%;
}
.carta{
    background-color: rgb(45, 37, 80);
    margin-bottom: 2rem;
    transition: 0.9s ease;
    border-radius: 40px;
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: 0 0 40px rgba(122, 122, 122, 0.732);
    height: 20rem;
}
.carta1::after{
    background-image: url(./IMAGENES/logodistrito.png);
}
.carta2::after{
  
    background-image: url(./IMAGENES/lasallesantoangel.png);
}
.carta3::after{
    background-image: url(./IMAGENES/lasalleirun.png);
}
.carta4::after{
    background-image: url(./resources/LOGOSCENTROS/eywa.png);
}
.carta5::after{
    background-image: url(./resources/LOGOSCENTROS/LasalleBarceloneta.png);
}

.carta6::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleBerrozpe.png);
   
}
.carta7::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleFMoreno.png);
}
.carta8::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleInca.png);
}
.carta9::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleJerez.png);
}
.carta10::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleJeresSC.png);
}
.carta11::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleLaSeu.png);
}
.carta12::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleManelleu.png);
}
.carta13::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleMollerusa-removebg-preview.png);
}
.carta14::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleSagradoCor.png);
}
.carta15::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleValladolid.png);
}
.carta16::after{
    background-image: url(./resources/LOGOSCENTROS/LaSalleVirgenDelMar.png);
}


.carta::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background-color: rgb(43, 47, 94);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
}




.carta:hover::after{
    animation: carta 1s ease-in-out forwards;
}
.log{
    padding: 1rem;
}
.log img{
    object-fit: cover;
    object-position: center;
    height: 60px;
    padding-left: 1.5rem;
}
.pat-text{
    opacity: 0.3;
    padding: 1rem;
    color: aliceblue;
}
.pat-text p{
    font-size: clamp(0.7rem, 0.8vw, 1rem);
}
.carta:hover{
    transform: scale(1.1);
    width: 20rem;
    z-index: 10;
    .pat-text{
        opacity: 1;
    }
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.info a{
    color: aliceblue;
    text-decoration: none;
}
.archivos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.archivo{
    padding: 0.5rem;
    border-radius: 10px;
    width: 15rem;
    background-color: rgb(43, 47, 94);
    margin-bottom: 10px;
    color: aliceblue;
    transition: 0.9s ease;
}
.archivo:hover{
    transform: scale(1.1);
}
.archivo button{
    background: transparent;
    border: none;
    color: yellow;
}
@keyframes carta {
    from{
        opacity: 1;
        height: 100%;
    }
    to{
        opacity: 0;
        height: 20%;
    }
}
@keyframes up {
    from{
        opacity: 0;
        transform: translateY(0);
    }to{
        opacity: 1;
        transform: translateY(-100vh);
    }
}
@keyframes barra2 {
    from{
        width: 0;
    }
    to{
        width: 70%;
    }
}
@keyframes barra {
    from{
        width: 0;
    }
    to{
        width: 60%;
    }
}
@keyframes slide-left {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slide-down {
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes linea1{
    from{
        height: 0;
    }
    to{
        height: 96.5%;
    }
}

@keyframes nav-menu{
    from{
        right: -100%;
    }
    to{
        right: -20%;
    }
}
@keyframes nav-menu2{
    from{
        right: -20;
    }
    to{
        right: -100%;
    }
}
@media (max-width:1200px){
   .nav-list{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-top: 5rem;
    position: absolute;
    padding-left: 1rem;
    justify-content: start;
    top:0;
    right: -20%;
    background-color: aliceblue;
    height: 100vh;
    width: 40%;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
   }
   .nav-list li button a{
    color: black;
   } 
   .btn-nav{
    display: flex;
    z-index: 999;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: larger;
   }
   .nav-content{
    justify-content: space-between;
    width: 90%;
    padding-right: 40px;
   }
   .nav-list li a::after{
    background-color: black;
   }
   
}
@media (max-width:1000px){
   .nav-list{
    width: 50%;
   }
   .img-vot{
    display: none;
   }
   main{
    background-image: url(./IMAGENES/bg-movil.jpg);
    background-size: 120%;
   }
   .img-main{
    display: none;
   }
   .carta{
    height: 13rem;
   }
}
@media (max-width:500px){
   .nav-list{
    width: 70%;
   }
}
.nav-list.active{
    display: flex;
    animation: nav-menu 0.5s ease;
}
.nav-list.close{
    display: flex;
    animation: nav-menu2 ease;
    animation-duration: 1s;
}
.btn-nav.active{
    transition-delay: 0.6s;
    color: black;
    transform: translateX(1rem);
    transition: 0.9 ease;
}

