@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;

}
html{
    height: 100%;
}
body{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.356);
    height: 70vh;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(30px);
    margin-top: 0px;
  
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.856);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.logo{
    background-image: url(../IMAGENES/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    scale: 2.5;
    height: 2rem;
    width: 3rem;
    margin-bottom: 10px;
}

#video_background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; 
  z-index: -1; 
}
.general-reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    
}
#Eregistro{
    height: auto;
}
.btn{
    align-items: center;
    background-color: yellow;
    border: none;
    transition: transform 0.3s ease;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-weight: bold;
    padding: 1rem;
    
}

.botones-reg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45%;
    
}
#botonRegistro{
    margin-top:30px
}
.btn:hover{
    background-color: rgb(223, 236, 31);
    transform: scale(1.1);
    a{
    color: rgb(23, 23, 54);
    }
}
.atras{
    background: transparent;
    border: none;
    color: aliceblue;
    align-self: flex-start;


}
.atras a {
    color: aliceblue;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.formu {
    width: 90%;
    height: auto; 
    padding-bottom: 40px;  
}

.aviso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
}
.aviso p{
    height: 2rem;
}
.form-control {
  background-color: transparent !important; 
  color: white;
  border: none;
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: none;
  transition: 0.9s ease;
}
.form-control:focus{
    box-shadow: none;
    border-color: aliceblue;
    color: aliceblue;
}
.form-control::placeholder{
    color: aliceblue;
}
.form-control:hover{
    transform: scale(1.01);
}
label{
    color: aliceblue;
}
.correo{
    position: relative;
}
.persona{
    position: absolute;
    top: 50%;
    right: 5%;
}
.contra{
    position: relative;
}
.candado{
    position: absolute;
    top: 50%;
    right: 5%;
}

.oculto {
    display: none;
}
.animacion {
 animation: aparecer 0.5s ease forwards;
}
@media (max-width:1200px){
   main{
    width: 85%;
   }
   .formu{
    width: 80%;
    
    }
    .botones-reg{
    
    margin-top: 5%;
    
    
}
   
}
@keyframes aparecer {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
 .botones-reg2{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

#telef{
    display: flex;
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

   
  input[type=number] {
    -moz-appearance: textfield;
  } 
